
*{
	margin: 0;
	padding: 0;
	/* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
}
.p-absolute{
	position: absolute;
}
.f-wrap{
	display: flex;
	display: -webkit-flex;
	width: 100%;
	height: 100%;
	flex-shrink: 0;  /* 禁止flex下的子元素宽高压缩 */	
}
div,input,button{
	flex-shrink: 0;
	box-sizing: border-box;
}
li{
	list-style: none;
}
button{
	outline:none;
}
a{
	text-decoration:none;
	color:#000000;
	outline:none;
}
.p-relative{
	position: relative;
}
.f-textcen{
	text-align: center;
}
.f-shr{
	flex-shrink: 0;
}
/* 禁止flex下的子元素宽高压缩 */	
.f-arrayX{
	display: flex;
	flex-direction:row;
}
/* 横向排列 */
.f-arrayY{
	display: flex;
	display: -webkit-flex;
	flex-direction:column;
}
/* 纵向排列 */
.f-farrayX{
	display: flex;
	flex-direction:row-reverse
}
/* 反转横向排列 */
.f-farrayY{
	display: flex;
	flex-direction:column-reverse
}
/* 反转纵向排列 */
.f-leftX{
	display: flex;
	justify-content: flex-start;
}
/* 横向左对齐 */
.f-centerX{
	display: flex;
	justify-content:center
}
/* 横向居中 */
.f-rightX{
	display: flex;
	justify-content:flex-end
}
/* 横向右对齐 */
.f-topY{
	display: flex;
	align-items:flex-start
}
/* 纵向顶部对齐 */
.f-centerY{
	display: flex;
	align-items: center;
}
/* 纵向居中 */
.f-bottomY{
	display: flex;
	align-items:flex-end;
}
/* 纵向底部对齐 */
.f-owntopY{
	display: flex;
	align-self:flex-start
}
/* 元素本身顶部对齐 */
.f-owncenterY{
	display: flex;
	align-self: center;
}
/* 元素本身居中 */
.f-ownbottomY{
	display: flex;
	align-self: flex-end;
}
/* 元素本身底部对齐 */
.f-center{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}
/* 子元素绝对居中 */


.f-alignNone{
	display: flex;
	display: -webkit-flex;
	justify-content:space-between;
}
/* 自动排列，两边不留空余，可配合排列方向决定是横向自动排列还是纵向自动排列 */

.f-align{
	display: flex;
	display: -webkit-flex;
	justify-content:space-around;
}
/* 自动排列，两边留有空余，可配合排列方向决定是横向自动排列还是纵向自动排列 */

.f-autobr{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	align-content:flex-start;
	justify-content:space-between;
}
/* 自动换行,且上边距不留空余 */
.f-fbase{
	display: flex;
	flex-wrap: wrap-reverse;
}
.web-font{
	width: 100%;
	display: flex;
	flex-direction:column;
	align-items: center;
}
.fg1{
	flex-grow: 1;
}
.ff1{
	flex: 1;
}

.fwe1{
	font-weight: 100;
}
.fwe2{
	font-weight: 200;
}
.fwe3{
	font-weight: 300;
}
.fwe4{
	font-weight: 400;
}
.fwe5{
	font-weight: 500;
}
.fwe6{
	font-weight: 600;
}
.fwe7{
	font-weight: 700;
}
.fwe8{
	font-weight: 800;
}
.fwe9{
	font-weight: 900;
}
.fwe10{
	font-weight: 1000;
}
.w5{
	width: 5%;
}
.w10{
	width: 10%;
}
.w15{
	width: 15%;
}
.w20{
	width: 20%;
}
.w25{
	width: 25%;
}
.w30{
	width: 30%;
}
.w35{
	width: 35%;
}
.w40{
	width: 40%;
}
.w45{
	width: 45%;
}
.w50{
	width: 50%;
}
.w55{
	width: 55%;
}
.w60{
	width: 60%;
}
.w65{
	width: 65%;
}
.w70{
	width: 70%;
}
.w75{
	width: 75%;
}
.w80{
	width: 80%;
}
.w85{
	width: 85%;
}
.w90{
	width: 90%;
}
.w95{
	width: 95%;
}
.w100{
	width: 100%;
}
.h20{
	height: 20%;
}

.h70{
	height: 70%;
}
.h80{
	height: 80%;
}

.h100{
	height: 100%;
}
/* 百分比宽 */
.a-left23{
	left: 23px;
}
.a-right46{
	right: 46px;
}
/* 浮动边距 */
/* 宽度 */
.ml1{
	margin-left: 1px;
}
.ml2{
	margin-left: 2px;
}
.ml3{
	margin-left: 3px;
}
.ml4{
	margin-left: 4px;
}
.ml5{
	margin-left: 5px;
}
.ml6{
	margin-left: 6px;
}
.ml7{
	margin-left: 7px;
}
.ml8{
	margin-left: 8px;
}
.ml9{
	margin-left: 9px;
}
.ml10{
	margin-left: 10px;
}
.ml11{
	margin-left: 11px;
}
.ml12{
	margin-left: 12px;
}
.ml13{
	margin-left: 13px;
}
.ml14{
	margin-left: 14px;
}
.ml15{
	margin-left: 15px;
}
.ml16{
	margin-left: 16px;
}
.ml17{
	margin-left: 17px;
}
.ml18{
	margin-left: 18px;
}
.ml19{
	margin-left: 19px;
}
.ml20{
	margin-left: 20px;
}
.mr1{
	margin-right: 1px;
}
.mr2{
	margin-right: 2px;
}
.mr3{
	margin-right: 3px;
}
.mr4{
	margin-right: 4px;
}
.mr5{
	margin-right: 5px;
}
.mr6{
	margin-right: 6px;
}
.mr7{
	margin-right: 7px;
}
.mr8{
	margin-right: 8px;
}
.mr9{
	margin-right: 9px;
}
.mr10{
	margin-right: 10px;
}
.mr11{
	margin-right: 11px;
}
.mr12{
	margin-right: 12px;
}
.mr13{
	margin-right: 13px;
}
.mr14{
	margin-right: 14px;
}
.mr15{
	margin-right: 15px;
}
.mr16{
	margin-right: 16px;
}
.mr17{
	margin-right: 17px;
}
.mr18{
	margin-right: 18px;
}
.mr19{
	margin-right: 19px;
}
.mr20{
	margin-right: 20px;
}
.mt1{
	margin-top: 1px;
}
.mt2{
	margin-top: 2px;
}
.mt3{
	margin-top: 3px;
}
.mt4{
	margin-top: 4px;
}
.mt5{
	margin-top: 5px;
}
.mt6{
	margin-top: 6px;
}
.mt7{
	margin-top: 7px;
}
.mt8{
	margin-top: 8px;
}
.mt9{
	margin-top: 9px;
}
.mt10{
	margin-top: 10px;
}
.mt11{
	margin-top: 11px;
}
.mt12{
	margin-top: 12px;
}
.mt13{
	margin-top: 13px;
}
.mt14{
	margin-top: 14px;
}
.mt15{
	margin-top: 15px;
}
.mt16{
	margin-top: 16px;
}
.mt17{
	margin-top: 17px;
}
.mt18{
	margin-top: 18px;
}
.mt19{
	margin-top: 19px;
}
.mt20{
	margin-top: 20px;
}
.mt28{
	margin-top: 28px;
}
.mt30{
	margin-top: 30px;
}
.mt39{
	margin-top: 39px;
}
.mt45{
	margin-top: 45px;
}
.mt49{
	margin-top: 49px;
}
.mt85{
	margin-top: 85px;
}
.mt101{
	margin-top: 101px;
}
.mt181{
	margin-top: 181px;
}
.mbottom20{
	margin-bottom: 20px;
}
.mbottom30{
	margin-bottom: 30px;
}
/* 1~20外边距 */

.padd-left1{
	padding-left: 1px;
}
.padd-left2{
	padding-left: 2px;
}
.padd-left3{
	padding-left: 3px;
}
.padd-left4{
	padding-left: 4px;
}
.padd-left5{
	padding-left: 5px;
}
.padd-left6{
	padding-left: 6px;
}
.padd-left7{
	padding-left: 7px;
}
.padd-left8{
	padding-left: 8px;
}
.padd-left9{
	padding-left: 9px;
}
.padd-left10{
	padding-left: 10px;
}
.padd-left11{
	padding-left: 11px;
}
.padd-left12{
	padding-left: 12px;
}
.padd-left13{
	padding-left: 13px;
}
.padd-left14{
	padding-left: 14px;
}
.padd-left15{
	padding-left: 15px;
}
.padd-left16{
	padding-left: 16px;
}
.padd-left17{
	padding-left: 17px;
}
.padd-left18{
	padding-left: 18px;
}
.padd-left19{
	padding-left: 19px;
}
.padd-left20{
	padding-left: 20px;
}
.padd-top1{
	padding-top: 1px;
}
.padd-top2{
	padding-top: 2px;
}
.padd-top3{
	padding-top: 3px;
}
.padd-top4{
	padding-top: 4px;
}
.padd-top5{
	padding-top: 5px;
}
.padd-top6{
	padding-top: 6px;
}
.padd-top7{
	padding-top: 7px;
}
.padd-top8{
	padding-top: 8px;
}
.padd-top9{
	padding-top: 9px;
}
.padd-top10{
	padding-top: 10px;
}
.padd-top11{
	padding-top: 11px;
}
.padd-top12{
	padding-top: 12px;
}
.padd-top13{
	padding-top: 13px;
}
.padd-top14{
	padding-top: 14px;
}
.padd-top15{
	padding-top: 15px;
}
.padd-top16{
	padding-top: 16px;
}
.padd-top17{
	padding-top: 17px;
}
.padd-top18{
	padding-top: 18px;
}
.padd-top19{
	padding-top: 19px;
}
.padd-top20{
	padding-top: 20px;
}
/* 1~20内边距 */
.f-size9{
	font-size: 9px;
}
.f-size10{
	font-size: 10px;
}
.f-size11{
	font-size: 11px;
}
.f-size12{
	font-size: 12px;
}
.f-size13{
	font-size: 13px;
}
.f-size14{
	font-size: 14px;
}
.f-size15{
	font-size: 15px;
}
.f-size16{
	font-size: 16px;
}
.f-size17{
	font-size: 17px;
}
.f-size18{
	font-size: 18px;
}
.f-size19{
	font-size: 19px;
}
.f-size20{
	font-size: 20px;
}
.f-size21{
	font-size: 21px;
}
.f-size22{
	font-size: 22px;
}
.f-size23{
	font-size: 23px;
}
.f-size24{
	font-size: 24px;
}
.f-size25{
	font-size: 25px;
}
.f-size26{
	font-size: 26px;
}
.f-size28{
	font-size: 28px;
}
.f-size30{
	font-size: 30px;
}
.f-size32{
	font-size: 32px;
}
.f-size38{
	font-size: 38px;
}
.f-size50{
	font-size: 50px;
}
.f-size52{
	font-size: 52px;
}
/* 字体大小9到24 */
.color-white{
	color: #fff;
}
.color-ash{
	color: #A1A1A1;
}
.color-bule{
	color: #235FE7;
}
.backcolor-bule{
	background-color: #235FE7;
}
.backcolor-white{
	background-color: #fff;
}
.backcolor-ash{
	background-color: #A1A1A1;
}
/* 常用颜色与背景色 */
.bord0{
	border: none;
}
.bord1{
	border: 1px solid rgba(0,0,0,0);
}
.bord-r2{
	border-radius: 2px;
}
.bord-r3{
	border-radius: 3px;
}
.bord-r4{
	border-radius: 4px;
}
.bord-r5{
	border-radius: 5px;
}
.bord-r6{
	border-radius: 6px;
}
.bord-r7{
	border-radius: 7px;
}
.bord-r8{
	border-radius: 8px;
}
.bord-r9{
	border-radius: 9px;
}
.bord-r10{
	border-radius: 10px;
}
.bord-r11{
	border-radius: 11px;
}
.bord-r12{
	border-radius: 12px;
}
.bord-r13{
	border-radius: 13px;
}
.bord-r14{
	border-radius: 14px;
}
.bord-r15{
	border-radius: 15px;
}
.bord-r16{
	border-radius: 16px;
}
.bord-r17{
	border-radius: 17px;
}
.bord-r18{
	border-radius: 18px;
}
.bord-r19{
	border-radius: 19px;
}
.bord-r20{
	border-radius: 20px;
}
/* 边框粗细与圆角 */